services:
  postgres:
    image: postgres:15
    container_name: postgres-warehouse
    restart: always
    env_file: .env.dev
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "5433:5432"     # <-- публикуем 5433 снаружи, внутри по-прежнему 5432
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}" ]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - backend

  redis:
    image: redis:7
    container_name: redis-warehouse
    restart: always
    ports:
      - "${REDIS_PORT}:6379"
    networks:
      - backend

  app:
    build: .
    container_name: ${APP_NAME}
    restart: always
    env_file: .env.dev
    depends_on: [ postgres, redis ]
    environment:
      SPRING_PROFILES_ACTIVE: ${SPRING_PROFILE}
      DB_HOST: postgres           # <-- для сборки URL внутри сети
      DB_PORT: 5432
      SPRING_REDIS_HOST: redis
      SPRING_REDIS_PORT: ${REDIS_PORT}
      JWT_SECRET: ${JWT_SECRET}
    ports:
      - "${APP_PORT}:8080"
    networks: [ backend ]

  ai-service:
    build:
      context: .
      dockerfile: Dockerfile.ai
    container_name: ai-service
    restart: always
    ports:
      - "8001:8001"
    env_file: .env.dev
    networks:
      - backend
    depends_on:
      - postgres
      - redis

volumes:
  postgres_data:

networks:
  backend:
    driver: bridge